# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Local .vscode settings
.vscode/

# Virtual environment
venv/
env/

# CSV output files
*.csv 